:root {
    --azul: #477BFF;
    --amarelo-transparente: #FFCB473D;
    --branco: #FFFFFF;
    --cinza: #909090;
    --preto: #202020;
    --preto-transparente: #0000000F;

    --familia-corpo: 'Lora', serif;
    --familia-titulo-destaque: 'Gemunu Libre', sans-serif;

    --peso-titulo-destaque: 700;
    --peso-botao: 700;
    --peso-destaque: 700;

    --tamanho-corpo: 1rem;
    --tamanho-titulo: 1.375rem;
    --tamanho-titulo-destaque: 2rem;
    --tamanho-destaque: 1.375rem;
}