.botao {
    text-align: center;
    font-family: inherit;
    font-weight: var(--peso-botao);
    /*width: 100%;*/
    /*box-shadow: 10px 10px 30px var(--amarelo-transparente);*/
}

.botao--alternativo {
    color: var(--azul);
    background-color: unset;
    box-shadow: none;
    border: 1px solid var(--azul);
}