@import url("_variaveis.css");
@import url("_reset.css");

body {
    font-family: var(--familia-corpo);
    font-size: var(--tamanho-corpo);
    color: var(--preto);

    background: url('../../img/fundo-textura.png'), url('../../img/fundo-linhas.png');
    background-position: center;
}

.container {
    padding-right: 1rem;
    padding-left: 1rem;
}

.titulo {
    font-size: var(--tamanho-titulo);
}

.titulo--destaque {
    font-family: var(--familia-titulo-destaque);
    color: var(--preto);
    font-size: var(--tamanho-titulo-destaque);
    font-weight: var(--peso-titulo-destaque);

    display: block;
    margin-top: .75rem;
    margin-bottom: .75rem;
}

.alinhamento--esquerda {
    text-align: left;
}

.alinhamento--meio {
    text-align: center;
}

.texto {
    line-height: 26px;
}

.f-xxl {
    font-size: xx-large;
}

.red {
    color: var(--vermelho);
}

.green{
    color: var(--verde);
}

.text-left{
    text-align: left !important;
}

.overlay:hover {
    height: 100%;
    width: 100%;
    opacity: 0.9;
    transition: .5s ease;
    background-color: #e8e8e8;
  }

.point {
cursor: pointer !important;
}

.overlay:active{
    border: 15px;
}