<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home | Lixeira IoT</title>
    <link href="https://fonts.googleapis.com/css2?family=Gemunu+Libre:wght@700&family=Lora:wght@400;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="assets/css/base/base.css">
    <link rel="stylesheet" href="assets/css/componentes/cabecalho.css">
    <link rel="stylesheet" href="assets/css/chamada.css">
    <link rel="stylesheet" href="assets/css/componentes/rodape.css">
</head>
<body>
    <header class="container cabecalho">
        <img src="assets/img/logo.svg" alt="Logo da Lixeira IoT" class="cabecalho__logo">
        <a href="#" aria-label="Dashboard">
            <p class="cabecalho__entrar">Dashboard</p>
        </a>
    </header>
    <main>
        <section class="chamada container">
            <h2 class="titulo">
                Modernidade com
                <span class="titulo--destaque">lixeiras inteligentes</span>
            </h2>
            <p class="chamada__texto texto">Modernize sua casa com lixeiras com conexão à internet e tenha mais
                comodidade no dia a dia. As lixeiras contam com um sistema de percepção do nível de resíduos,
                percepção de aproximação e rotação das pessoas que devem tirar o lixo no dia.
            </p>
            <img src="assets/img/lixeira.png" alt="Foto do produto" class="chamada__imagem">
        </section>
    </main>
    <footer class="container rodape">
        <img src="assets/img/logo.svg" alt="Logo da Lixeira IoT" class="rodape__logo">
        <ul class="rodape__social">
            <li><a href="#" class="rodape__social-midia" title="Facebook"><img src="assets/img/icones/facebook.svg" alt="Ícone do Facebook"></a></li>
            <li><a href="#" class="rodape__social-midia" title="Twitter"><img src="assets/img/icones/twitter.svg" alt="Ícone do Twitter"></a></li>
            <li><a href="#" class="rodape__social-midia" title="Instagram"><img src="assets/img/icones/instagram.svg" alt="Ícone do Instagram"></a></li>
        </ul>
        <address class="rodape__unidade texto">
            <span class="rodape__unidade-titulo">Grupo 3</span>
            Todos os direitos reservados<br>
            UFPI - CCN<br>
        </address>
    </footer>
</body>
</html>